<div class="mb-5">
  <label [for]="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
    {{label}}
  </label>
  <div class="relative">
    <input [type]="type || (showPassword ? 'text' : 'password')" [id]="id" [formControl]="control" [class]="{'border-red-600' :control?.errors && control?.touched,'placeholder:text-red-600': control?.errors && control?.touched,
    'border-green-700': !control?.errors && control?.touched,
  }" class="bg-gray-50 border-2 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:text-white"
      [placeholder]="placeholder" required />
    @if(id === 'password' || id === 'rePassword'){
    <fa-icon [icon]="(showPassword? faEyeSlash : faEye)" (click)="showPassword = !showPassword"
      class="absolute end-0 pr-3 top-1/2 -translate-y-1/2 cursor-pointer hover:text-blue-400 duration-200 text-gray-800"></fa-icon>}
  </div>
  @if(control?.errors && control?.touched){
  <div class="error-message  rounded-xl shadow-2xl p-2 my-3 w-3/4">
    <p class="font-bold text-red-700">There are Errors: </p>
    @if(control?.getError('required')){
    <p class="font-medium text-red-600 ms-3">The field is required </p>
    }
    @if(control?.getError('email')){
    <p class="font-medium text-red-600 ms-3">The Email is incorrect</p>
    }
    @if(control?.getError('minlength')){
    <p class="font-medium text-red-600 ms-3">It should be 8 characters minimum</p>
    }
    @if(control?.getError('maxlength')){
    <p class="font-medium text-red-600 ms-3">It should be 20 characters maximum</p>
    }
    @if(control?.hasError('mismatch')){
    <p class="font-medium text-red-600 ms-3">Passwords don't match</p>
    }
    @if(control?.getError('pattern')){
    <p class="font-medium text-red-600 ms-3"><ng-content /></p>
    }
  </div>
  }
</div>
